.board {
  background-color: azure;
  height: 100vh;
}

.row {
  height: 15px;
}

.cell {
  width: 15px;
  height: 15px;
  outline: 1px solid #fdfdfd;
  display: inline-block;
}
.car-cell {
  background-color: rgb(23, 2, 253);
}
.objCar {
  background-color: rgb(249, 126, 11);
}
.car-cell2 {
  background-color: rgb(240, 6, 6);
}
